name: Build
on: [push]
jobs:
  run-build:
    runs-on: ubuntu-latest
    container:
        image: ghcr.io/northeastern-electric-racing/embedded-base:main
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
            submodules: recursive

      - name: Execute Make
        run: |
            if ! make; then
            echo "The application has failed to build."
            exit 1  # This will cause the workflow to fail
            fi
